<div class="jumbotron">
  <h1><span class="glyphicon glyphicon-music" aria-hidden="true" style="font-size:1.2em;"> </span> Let's do this!</h1>
  <p>Enter a new artist to populate the database.  This site uses the Spotify API to get album and song information for an artist.</p>
  <p><%= link_to 'Add New Artist', new_artist_path, {role: :button, class: 'btn btn-primary btn-lg'} %></p>
</div>