<% unless notice.blank? %>
  <div id="notice" class="alert alert-warning" role="alert" style="margin-top:15px;">
    <%= notice %>
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>