// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table.albums td, div.show-album p strong {
  vertical-align: top;
}

ul.album-songs > li > a {
  margin-right: 20px;
}

.spotify-iframe-wrapper > iframe {
  height: 82px;
  width: 300px;
}